.video__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  margin: 0 0 0 30px;
}

@media screen and (max-width: 945px) {
  .video__subtitle {
    margin-left: 24px;
  }
}

@media screen and (max-width: 350px) {
  .video__subtitle {
    margin-left: 16px;
  }
}
