.page__cover {
  margin: 0 auto 102px;
}

@media screen and (max-width: 800px) {
  .page__cover {
    margin-top: 90px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 600px) {
  .page__cover {
    margin-top: 66px;
    margin-bottom: 64px;
  }
}
